# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Harry\OneDrive\Documents\Computer Science\Java\Code and Exercises\Weeks 8-12 - STAG\STAG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
